SITE_URL=https://caixa.arditi.pt

# Autenticação do Painel Administrativo de Notícias
ADMIN_PASSWORD=

ADMIN_SESSION_SECRET=

GITHUB_TOKEN=

GITHUB_REPOSITORY=miguelfcostaa/caixa-arditi

GITHUB_BRANCH=main